{% extends './base.html' %}
{% load static %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/about_us.css' %}">
{% endblock page_css %}



{% block page_title %}
    درباره‌ما | دبیرستان حمزه‌ سیدالشهدا
{% endblock page_title %}

{% block page_content %}
    <div class="container mt-5 gradient-custom shadow">
        <h2 class="pt-3 title">
            درباره‌ما 
        </h2>
        <hr>
        <div class="container">
            <p class="fs-5 pb-5 text-center description">
                در دوران کرونا که آموزش‌ها به صورت مجازی دنبال میشد هنرستان حمزه سیدالشهدا تصمیم گرفت که به کمک 
                تعدادی از هنرجویان خود بستری را ایجاد کند تا تمامی هنرجویان بتوانند که از طریق آن کلاس‌های درس خود
                را پیگیری کنند. 
                اینگونه شد که هنرستان جهت هرچه بهتر و آسان‌تر شدن دسترسی هنرآموزان و هنرجویان به کلاس‌های آنلاین 
                سایت خود را راه‌اندازی کرد.
                و در کنار آن یک بخش به نام نمایشگاه راه‌اندازی کرد تا بتوانند هنرجویان به صورت انفرادی یا گروهی، توانایی‌ها و ایده‌های جدید و نوین خود را در قالب پروژه‌های مختلف به نمایش بگذارند. 
            </p>
        </div>
        <br><br><br><br>
    </div>
{% endblock page_content %}