{% extends './base.html' %}
{% load static %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/about_us.css' %}">
{% endblock page_css %}



{% block page_title %}
    درباره‌ما | دبیرستان حمزه‌ سیدالشهدا
{% endblock page_title %}

{% block page_content %}
    <div class="container mt-5 gradient-custom shadow">
        <h2 class="pt-3">
            درباره‌ما 
        </h2>
        <hr>
        <div class="container">
            <p class="fs-5 pb-5 text-center">
                در دوران کرونا که آموزش‌ها به صورت مجازی دنبال میشد مدرسه تصمیم گرفت که به کمک 
                تعدادی از هنرجویان خود بستری را ایجاد کند تا هنرجویان بتوانند که از طریق آن کلاس‌های درس خود
                را پیگیری کنند. 
                اینگونه شد که سایت مدرسه جهت هرچه بهتر و آسان شدن دسترسی دبیران و هنرجویان به کلاس‌های آنلاین 
                سایت خود را راه‌اندازی کرد.
            </p>
        </div>
        <br><br><br><br>
    </div>
{% endblock page_content %}